@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #dcbfff;
}

::-webkit-scrollbar-thumb {
  background: #51258f;
}

.ant-menu-item-selected { 
  background-color: #F2E8FF !important;
  color: #51258f !important;
}


.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #51258f !important;
}

.ant-btn-primary {
  background-color: #51258f !important;
}


.ant-btn-primary:hover {
  background-color: #482579 !important; /* Lighter color */
}

.custom-upload .ant-upload  {
    margin-inline-end: 0 !important;
  }


/* .ant-layout-sider {
  width: 250px !important;
} */



