@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
}

/* Define styles for the scrollbar track */
/* ::-webkit-scrollbar-track {
  background: #dcbfff;
} */

/* Define styles for the scrollbar thumb */
/* ::-webkit-scrollbar-thumb {
  background: #51258f;
} */

.ant-menu-item-selected { 
  background-color: #dcbfff !important;
  color: #51258f !important;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #51258f !important;
}
